<section class="form-section">
    <div class="text">
      <h3>Faça sua pré-inscrição</h3>
      <p>
        lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
        ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
        quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
        interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum
        sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis
        orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros,
        eget temp
      </p>
    </div>
    <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input
        id="name"
        formControlName="name"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
      />
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
      />
      <button type="submit">
        {{ loading ? 'carregamento...' : 'Se inscreva' }}
      </button>
    </form>
  </section>
  